<a href="https://colab.research.google.com/github/harshkumar8a/Python-fundamental/blob/main/Pandas_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Dependencies

In [ ]:
import numpy as np
import pandas as pd

# Series from lists

*   a one-dimensional labeled array capable of holding any data type

In [ ]:
# String
country = ["India","USA","China","Nepal","Pakistan"]
pd.Series(country,index=[1,2,3,4,5],name="Country")

1       India
2         USA
3       China
4       Nepal
5    Pakistan
Name: Country, dtype: object

In [ ]:
# integers
number = [1,2,3,4,5]
pd.Series(number,name="Number")

0    1
1    2
2    3
3    4
4    5
Name: Number, dtype: int64

In [ ]:
# custom index
marks = [67,59,48,35,74]
subject = ["Math","English","Hindi","Science","SST"]
pd.Series(marks,index=subject)

Math       67
English    59
Hindi      48
Science    35
SST        74
dtype: int64

# Series From dict

In [ ]:
marks = {
    'math' : 70,
    'english' : 60,
    'hindi' : 80,
    'Science' : 99
}
marks_series = pd.Series(marks,name="Marks")
marks_series

math       70
english    60
hindi      80
Science    99
Name: Marks, dtype: int64

In [ ]:
students = {
    'name' : ['harsh','heman','Nan','kartik','mohit','sumit','NaN','rohit','NaN'],
    'iq'   : [100,89,'NaN',99,79,86,'NaN',93,'NaN'],
    'marks': [78,69,'NaN',50,57,97,68,'NaN','NaN'],
    'package':[22,34,'NaN',12,'NaN',25,'NaN',27,'NaN']
}
students = pd.DataFrame(students)
students

     name   iq marks package
0   harsh  100    78      22
1   heman   89    69      34
2     Nan  NaN   NaN     NaN
3  kartik   99    50      12
4   mohit   79    57     NaN
5   sumit   86    97      25
6     NaN  NaN    68     NaN
7   rohit   93   NaN      27
8     NaN  NaN   NaN     NaN

# Series Attributes

In [ ]:
# Size
marks_series.size

4

In [ ]:
# is_unique
marks_series.is_unique

True

In [ ]:
# index
marks_series.index

Index(['math', 'english', 'hindi', 'Science'], dtype='object')

# Series using read_csv

*   uploading datasets using pd.read_csv()

In [ ]:
movie = pd.read_csv("/content/movies.csv")
batsman = pd.read_csv(r"/content/batsman_runs_ipl.csv")
diabetes = pd.read_csv(r"/content/diabetes.csv")

head() function show the upper 4 rows of the datasets

In [ ]:
movie.head(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

tail() function show the lower 3 rows fo the datasets

In [ ]:
movie.tail(3)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

sample() function show the random 5 rows of the datasets

In [ ]:
# sample
movie.sample(5)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1099,Manorama Six Feet Under,tt0920464,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Manorama_Six_Fee...,Manorama Six Feet Under,Manorama Six Feet Under,0,2007,137,Crime|Drama|Mystery,7.7,6013,Rajasthan-based Satyaveer Singh Randhawa works...,Satyaveer accepts money from Manorama wife of...,In The Desert| Nothing Is What it Seems,Abhay Deol|Gul Panag|Raima Sen|Sarika|Kulbhush...,1 nomination,21 September 2007 (India)
105,Omerta (film),tt6978268,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Omerta_(film),Omerta,Omerta,0,2017,98,Action|Biography|Crime,7.0,660,A recounting of the story of infamous British-...,A recounting of the story of infamous British-...,A Brief History of Terrorism,Rajkummar Rao|Rajesh Tailang|Satwant Kaur|,2 nominations,4 May 2018 (India)
1573,Yaadein (2001 film),tt0248617,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yaadein_(2001_film),Yaadein...,Yaadein...,0,2001,171,Drama|Musical|Romance,4.4,3034,Raj Singh Puri is best friends with L.K. Malho...,Raj Singh Puri is best friends with L.K. Malho...,memories to cherish...,Jackie Shroff|Hrithik Roshan|Kareena Kapoor|Am...,1 nomination,27 June 2001 (India)
916,Delhi-6,tt1043451,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Delhi-6,Delhi-6,Delhi-6,0,2009,141,Comedy|Drama,6.0,6452,U.S.-based Roshan Mehra's mother Fatima is M...,In the ancient walled city of Delhi an Americ...,The Journey within,Waheeda Rehman|Abhishek Bachchan|Sonam Kapoor|...,4 wins & 13 nominations,20 February 2009 (India)
452,Ranbanka,tt5151622,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ranbanka,Ranbanka,Ranbanka,0,2015,98,Action,3.7,118,Rahul an engineer tries his best to protect ...,A non-violent engineer resorts to violence aft...,A Film By Aryeman,Manish Paul|Ravi Kishan|Pooja Thakur|Rudra Kau...,1 win,6 November 2015 (India)

value_counts() in pandas is a function used to get the count of unique values in a Series or a column of a DataFrame

In [ ]:
# value_counts -> movies
movie.value_counts()

np.int64(298)

avoid creating a new DataFrame object with each successive modification but instead making changes to the original DataFrame itself

In [ ]:
# sort_index -> inplace -> movies
movie.sort_index(inplace = True)

# Series Math operations

In [ ]:
# Count
movie.count()

title_x             298
imdb_id             298
poster_path         298
wiki_link           298
title_y             298
original_title      298
is_adult            298
year_of_release     298
runtime             298
genres              298
imdb_rating         298
imdb_votes          298
story               298
summary             298
tagline             298
actors              298
wins_nominations    298
release_date        298
dtype: int64

In [ ]:
# mean -> median -> mode -> std -> var
print(movie.mode())

    title_x    imdb_id                                        poster_path  \
0    Andaaz  tt0169102  https://upload.wikimedia.org/wikipedia/en/thum...
1    Lagaan  tt0346507  https://upload.wikimedia.org/wikipedia/en/thum...
2       NaN  tt0347416                                                NaN
3       NaN        NaN                                                NaN
4       NaN        NaN                                                NaN
..      ...        ...                                                ...
293     NaN        NaN                                                NaN
294     NaN        NaN                                                NaN
295     NaN        NaN                                                NaN
296     NaN        NaN                                                NaN
297     NaN        NaN                                                NaN

                                           wiki_link  \
0     https://en.wikipedia.org/wiki/1971_(2007_film)
1        https://en.wikipedia.org/wiki/36_China_Town
2             https://en.wikipedia.org/wiki/3_Idiots
3             https://en.wikipedia.org/wiki/68_Pages
4    https://en.wikipedia.org/wiki/A%C5%9Boka_(film)
..                                               ...
293           https://en.wikipedia.org/wiki/Yuvvraaj
294              https://en.wikipedia.org/wiki/Zeher
295    https://en.wikipedia.org/wiki/Zid_(2014_film)
296       https://en.wikipedia.org/wiki/Zinda_(film)
297           https://en.wikipedia.org/wiki/Zubeidaa

                               title_y                     original_title  \
0                          LOC: Kargil                             Andaaz
1    Lagaan: Once Upon a Time in India                        LOC: Kargil
2                                Style  Lagaan: Once Upon a Time in India
3                                  NaN                                NaN
4                                  NaN                                NaN
..                                 ...                                ...
293                                NaN                                NaN
294                                NaN                                NaN
295                                NaN                                NaN
296                                NaN                                NaN
297                                NaN                                NaN

     is_adult  year_of_release runtime genres  imdb_rating  imdb_votes  \
0         0.0           2003.0     140  Drama          7.2       169.0
1         NaN              NaN     NaN    NaN          NaN       801.0
2         NaN              NaN     NaN    NaN          NaN      2122.0
3         NaN              NaN     NaN    NaN          NaN      2284.0
4         NaN              NaN     NaN    NaN          NaN      4203.0
..        ...              ...     ...    ...          ...         ...
293       NaN              NaN     NaN    NaN          NaN         NaN
294       NaN              NaN     NaN    NaN          NaN         NaN
295       NaN              NaN     NaN    NaN          NaN         NaN
296       NaN              NaN     NaN    NaN          NaN         NaN
297       NaN              NaN     NaN    NaN          NaN         NaN

                                                 story  \
0    LOC KARGIL is the story of Indian soldiers fig...
1    This is the story about the resilience shown b...
2    Young Raj Malhotra lives with his elder brothe...
3                                                  NaN
4                                                  NaN
..                                                 ...
293                                                NaN
294                                                NaN
295                                                NaN
296                                                NaN
297                                                NaN

                                               summary  \
0    Based on the real story during Kargil war foug...
1    Loyalty  Respect  commitment and love. What is...
2    The people of a small village in Victorian Ind...
3                                                  NaN
4                                                  NaN
..                                                 ...
293                                                NaN
294                                                NaN
295                                                NaN
296                                                NaN
297                                                NaN

                                               tagline  \
0    Heroes do not choose their destiny| destiny ch...
1                            Once upon a time in India
2                     When you love someone express it
3                                                  NaN
4                                                  NaN
..                                                 ...
293                                                NaN
294                                                NaN
295                                                NaN
296                                                NaN
297                                                NaN

                                                actors wins_nominations  \
0    Aamir Khan|Gracy Singh|Rachel Shelley|Paul Bla...     1 nomination
1    Akshay Kumar|Lara Dutta|Priyanka Chopra|Rajeev...              NaN
2    Sanjay Dutt|Ajay Devgn|Saif Ali Khan|Sunil She...              NaN
3                                                  NaN              NaN
4                                                  NaN              NaN
..                                                 ...              ...
293                                                NaN              NaN
294                                                NaN              NaN
295                                                NaN              NaN
296                                                NaN              NaN
297                                                NaN              NaN

              release_date
0    19 March 2010 (India)
1                      NaN
2                      NaN
3                      NaN
4                      NaN
..                     ...
293                    NaN
294                    NaN
295                    NaN
296                    NaN
297                    NaN

[298 rows x 18 columns]

describe() is very essential fucntion which use in understanding the datasets and also we can get min, max, mean, medain, count and so on with help of this.

In [ ]:
# describe()
movie.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count     298.0       298.000000   298.000000     298.000000
mean        0.0      2008.845638     6.361409   14193.617450
std         0.0         5.192230     1.340469   26724.554265
min         0.0      2001.000000     1.700000      25.000000
25%         0.0      2004.000000     5.400000    1801.250000
50%         0.0      2008.000000     6.600000    5225.500000
75%         0.0      2013.000000     7.400000   15041.250000
max         0.0      2019.000000     8.500000  310481.000000

isnull() return is how many value is null in the given datasets

In [ ]:
# isnull
movie.isnull().sum()

title_x             0
imdb_id             0
poster_path         0
wiki_link           0
title_y             0
original_title      0
is_adult            0
year_of_release     0
runtime             0
genres              0
imdb_rating         0
imdb_votes          0
story               0
summary             0
tagline             0
actors              0
wins_nominations    0
release_date        0
dtype: int64

duplicated() is any value is duplicate

In [ ]:
# duplicated
movie.duplicated().sum()

0

with the help of this we can rename any columns name

In [ ]:
# rename
movie.rename(columns ={'title_x':'title'},inplace = True)
movie.head(1)

,title,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
11,Gully Boy,tt2395469,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gully_Boy,Gully Boy,Gully Boy,0,2019,153,Drama|Music,8.2,22440,"Gully Boy is a film about a 22-year-old boy ""M...",A coming-of-age story based on the lives of st...,Apna Time Aayega!,Ranveer Singh|Alia Bhatt|Siddhant Chaturvedi|V...,6 wins & 3 nominations,14 February 2019 (USA)

# Math Operation

In [ ]:
movie['imdb_votes'].sum()

4229698

In [ ]:
movie['imdb_votes'].mean()

14193.617449664429

In [ ]:
movie['imdb_votes'].min()

25

In [ ]:
movie['imdb_votes'].max()

310481

In [ ]:
movie['imdb_votes'].var()

714201800.6747111

# Selecting Cols from data frame

In [ ]:
# single cols
movie['title'].sample(5)

1308    Viruddh... Family Comes First
1079         Eklavya: The Royal Guard
1223                Black (2005 film)
405                              Piku
1458                    Kuch Naa Kaho
Name: title, dtype: object

In [ ]:
# multiple columns
movie[['title','year_of_release']].sample(5)

                   title  year_of_release
1029  Heroes (2008 film)             2008
99              Baaghi 2             2018
1066      Chak De! India             2007
765           Ragini MMS             2011
1439      Flavors (film)             2003

# Selecting row from dataframe

*  iloc - searches using index positions
*  loc  - searches using index labels

In [ ]:
# single row
movie.iloc[0]

title                                                       Gully Boy
imdb_id                                                     tt2395469
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link                     https://en.wikipedia.org/wiki/Gully_Boy
title_y                                                     Gully Boy
original_title                                              Gully Boy
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           153
genres                                                    Drama|Music
imdb_rating                                                       8.2
imdb_votes                                                      22440
story               Gully Boy is a film about a 22-year-old boy "M...
summary             A coming-of-age story based on the lives of st...
tagline                                             Apna Time Aayega!
actors              Ranveer Singh|Alia Bhatt|Siddhant Chaturvedi|V...
wins_nominations                               6 wins & 3 nominations
release_date                                   14 February 2019 (USA)
Name: 11, dtype: object

In [ ]:
# multiple row
movie.iloc[0:3]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)

In [ ]:
# fancy indexing
movie.iloc[[3,5,27]]

,title,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
87,Aiyaary,tt6774212,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aiyaary,Aiyaary,Aiyaary,0,2018,157,Action|Thriller,5.2,3538,General Gurinder Singh comes with a proposal t...,After finding out about an illegal arms deal ...,The Ultimate Trickery,Sidharth Malhotra|Manoj Bajpayee|Rakul Preet S...,1 nomination,16 February 2018 (USA)
99,Baaghi 2,tt6843812,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Baaghi_2,Baaghi 2,Baaghi 2,0,2018,137,Action|Thriller,5.0,7657,Ronnie is serving in the Indian army.He gets a...,A battle-hardened army officer squares off aga...,Rebel for love,Tiger Shroff|Disha Patani|Manoj Bajpayee|Rande...,3 wins & 1 nomination,30 March 2018 (USA)
226,Newton (film),tt6484982,https://upload.wikimedia.org/wikipedia/en/6/68...,https://en.wikipedia.org/wiki/Newton_(film),Newton,Newton,0,2017,106,Drama,7.7,13697,As India the world's largest democracy brace...,A government clerk on election duty in the con...,Electoral Rumble in the jungle.,Rajkummar Rao|Pankaj Tripathi|Anjali Patil|Rag...,12 wins & 25 nominations,22 September 2017 (India)

In [ ]:
movie.loc[0:4,"title_x":"poster_path"]

,title_x,imdb_id,poster_path
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...
1,Battalion 609,tt9472208,NaN
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...
4,Evening Shadows,tt6028796,NaN

In [ ]:
ipl = pd.read_csv(r"/content/ipl-matches.csv")

In [ ]:
ipl.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

# Questions

# 1) find all the final matches winner

In [ ]:
match = ipl['MatchNumber'] == 'Final'
new_df = ipl[match]
new_df[['Season','WinningTeam']]

ipl[ipl['MatchNumber'] == 'Final'][['Season','WinningTeam']] # upper code in optimize way

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

# 2) how many super over finishes have occured

In [ ]:
superover = ipl['SuperOver'] == 'Y'
new_superover = ipl[superover]
new_superover.shape[0]

14

# 3) how many matches has csk won in kolkata

In [ ]:
ipl.head(2)
ipl[(ipl['City'] == 'kolkata') & (ipl['WinningTeam'] == 'Chennai Super kings')].shape[0]

0

In [ ]:
movie.dropna(inplace = True)
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 298 entries, 11 to 1623
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             298 non-null    object
 1   imdb_id           298 non-null    object
 2   poster_path       298 non-null    object
 3   wiki_link         298 non-null    object
 4   title_y           298 non-null    object
 5   original_title    298 non-null    object
 6   is_adult          298 non-null    int64
 7   year_of_release   298 non-null    int64
 8   runtime           298 non-null    object
 9   genres            298 non-null    object
 10  imdb_rating       298 non-null    float64
 11  imdb_votes        298 non-null    int64
 12  story             298 non-null    object
 13  summary           298 non-null    object
 14  tagline           298 non-null    object
 15  actors            298 non-null    object
 16  wins_nominations  298 non-null    object
 17  release_date      298 non-null    object
dtypes: float64(1), int64(3), object(14)
memory usage: 52.3+ KB

In [ ]:
movie['actors'].str.split('|').apply(lambda x : x[0])

11             Ranveer Singh
34              Gavie Chahal
37        Ayushmann Khurrana
87         Sidharth Malhotra
96                Ajay Devgn
                ...
1600             Divya Dutta
1601               Anant Nag
1607             Anil Kapoor
1621    Priyanshu Chatterjee
1623          Karisma Kapoor
Name: actors, Length: 298, dtype: object

In [ ]:
# sort_values
movie.sort_values('title',ascending =True)

,title,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1039,1971 (2007 film),tt0983990,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/1971_(2007_film),1971,1971,0,2007,160,Action|Drama|War,7.9,1121,Based on true facts the film revolves around ...,Based on true facts the film revolves around ...,Honor the heroes.......,Manoj Bajpayee|Ravi Kishan|Deepak Dobriyal|,1 win,9 March 2007 (India)
912,3 Idiots,tt1187043,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/3_Idiots,3 Idiots,3 Idiots,0,2009,170,Comedy|Drama,8.4,310481,Farhan Qureshi and Raju Rastogi want to re-uni...,Two friends are searching for their long lost ...,Don't be Stupid. Be an I.D.I.O.T.,Aamir Khan|Madhavan|Sharman Joshi|Kareena Kapo...,57 wins & 18 nominations,25 December 2009 (India)
1135,36 China Town,tt0477252,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/36_China_Town,36 China Town,36 China Town,0,2006,140,Comedy|Mystery|Thriller,5.6,3862,Multi-millionaire Sonia Chang; owner of 36 Chi...,An inspector heads to Chinatown a resort to ...,They have all arrived ... at the wrong place,Akshaye Khanna|Kareena Kapoor|Shahid Kapoor|Pa...,2 wins & 1 nomination,21 April 2006 (India)
1055,68 Pages,tt1151299,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/68_Pages,68 Pages,68 Pages,0,2007,92,Drama,6.4,25,Coming from a country like India that is still...,Coming from a country like India that is still...,Marked by Pain| Bound by Hope,Mouli Ganguly|Joy Sengupta|Jayati Bhatia|Zafar...,1 win,April 2008 (USA)
886,Aakrosh (2010 film),tt1708453,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aakrosh_(2010_film),Aakrosh,Aakrosh,0,2010,115,Action|Crime|Thriller,7.0,2987,Giving in to intense media pressure the Home ...,The Central Bureau of Investigation deputes tw...,There is no honour in honour killing,Ajay Devgn|Akshaye Khanna|Bipasha Basu|Paresh ...,1 win,15 October 2010 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,Yuvvraaj,tt1105747,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yuvvraaj,Yuvvraaj,Yuvvraaj,0,2008,151,Comedy|Drama|Romance,4.1,3707,Yogendra Yuvvraaj Singh lives a wealthy lifest...,Two estranged brothers must learn to work toge...,Music binds love,Salman Khan|Anil Kapoor|Zayed Khan|Mithun Chak...,1 win & 1 nomination,21 November 2008 (USA)
1312,Zeher,tt0451983,https://upload.wikimedia.org/wikipedia/en/c/ce...,https://en.wikipedia.org/wiki/Zeher,Zeher,Zeher,0,2005,132,Crime|Drama|Mystery,5.4,1717,Police Inspector Sonia Mehra is married to her...,Siddharth and Sonia are happily married to eac...,A love story,Emraan Hashmi|Shamita Shetty|Udita Goswami|Sam...,3 nominations,25 March 2005 (India)
560,Zid (2014 film),tt4228746,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Zid_(2014_film),Zid,Zid,0,2014,126,Crime|Thriller,4.4,929,A journalist who is still in love with his ex...,A journalist who is still in love with his ex...,Come Play With Fire!,Mannara Chopra|Karanvir Sharma|Shradha Das|Den...,1 win & 1 nomination,28 November 2014 (India)
1224,Zinda (film),tt0488906,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Zinda_(film),Zinda,Zinda,0,2006,116,Action|Drama|Mystery,5.0,3017,Unkempt and unruly-looking Balajit Roy (Sanja...,A man taken and locked up for 14 years withou...,One good act of vengeance.... deserves another,Sanjay Dutt|John Abraham|Lara Dutta|Celina Jai...,2 nominations,12 January 2006 (India)
1623,Zubeidaa,tt0255713,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Zubeidaa,Zubeidaa,Zubeidaa,0,2001,153,Biography|Drama|History,6.2,1384,The film begins with Riyaz (Rajat Kapoor) Zub...,Zubeidaa an aspiring Muslim actress marries ...,The Story of a Princess,Karisma Kapoor|Rekha|Manoj Bajpayee|Rajit Kapo...,3 wins & 13 nominations,19 January 2001 (India)

In [ ]:
movie.sort_values(['title','year_of_release'],ascending=[True,False]).head(4)

,title,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1039,1971 (2007 film),tt0983990,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/1971_(2007_film),1971,1971,0,2007,160,Action|Drama|War,7.9,1121,Based on true facts the film revolves around ...,Based on true facts the film revolves around ...,Honor the heroes.......,Manoj Bajpayee|Ravi Kishan|Deepak Dobriyal|,1 win,9 March 2007 (India)
912,3 Idiots,tt1187043,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/3_Idiots,3 Idiots,3 Idiots,0,2009,170,Comedy|Drama,8.4,310481,Farhan Qureshi and Raju Rastogi want to re-uni...,Two friends are searching for their long lost ...,Don't be Stupid. Be an I.D.I.O.T.,Aamir Khan|Madhavan|Sharman Joshi|Kareena Kapo...,57 wins & 18 nominations,25 December 2009 (India)
1135,36 China Town,tt0477252,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/36_China_Town,36 China Town,36 China Town,0,2006,140,Comedy|Mystery|Thriller,5.6,3862,Multi-millionaire Sonia Chang; owner of 36 Chi...,An inspector heads to Chinatown a resort to ...,They have all arrived ... at the wrong place,Akshaye Khanna|Kareena Kapoor|Shahid Kapoor|Pa...,2 wins & 1 nomination,21 April 2006 (India)
1055,68 Pages,tt1151299,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/68_Pages,68 Pages,68 Pages,0,2007,92,Drama,6.4,25,Coming from a country like India that is still...,Coming from a country like India that is still...,Marked by Pain| Bound by Hope,Mouli Ganguly|Joy Sengupta|Jayati Bhatia|Zafar...,1 win,April 2008 (USA)

In [ ]:
# Rank (only valid on series)
bt = pd.read_csv(r"C:\Users\DELL\Downloads\100 days\batsman_runs_ipl.csv")

In [ ]:
bt.sample(3)

            batter  batsman_run
373       OF Smith           51
460    S Badrinath         1441
530  Shivam Sharma            5

In [ ]:
bt['batting_rank'] = bt['batsman_run'].rank(ascending = False)
bt.sort_values('batting_rank')

           batter  batsman_run  batting_rank
569       V Kohli         6634           1.0
462      S Dhawan         6244           2.0
130     DA Warner         5883           3.0
430     RG Sharma         5881           4.0
493      SK Raina         5536           5.0
..            ...          ...           ...
512   SS Cottrell            0         594.0
466     S Kaushik            0         594.0
203     IC Pandey            0         594.0
467       S Ladda            0         594.0
468  S Lamichhane            0         594.0

[605 rows x 3 columns]

In [ ]:
# set_index -> inplace
bt.set_index('batter')

                batsman_run  batting_rank
batter
A Ashish Reddy          280         166.5
A Badoni                161         226.0
A Chandila                4         535.0
A Chopra                 53         329.0
A Choudhary              25         402.5
...                     ...           ...
Yash Dayal                0         594.0
Yashpal Singh            47         343.0
Younis Khan               3         547.5
Yuvraj Singh           2754          27.0
Z Khan                  117         256.0

[605 rows x 2 columns]

In [ ]:
# reset_index(seies and dataframe) -> drop parameter
bt.reset_index()

     index          batter  batsman_run  batting_rank
0        0  A Ashish Reddy          280         166.5
1        1        A Badoni          161         226.0
2        2      A Chandila            4         535.0
3        3        A Chopra           53         329.0
4        4     A Choudhary           25         402.5
..     ...             ...          ...           ...
600    600      Yash Dayal            0         594.0
601    601   Yashpal Singh           47         343.0
602    602     Younis Khan            3         547.5
603    603    Yuvraj Singh         2754          27.0
604    604          Z Khan          117         256.0

[605 rows x 4 columns]

In [ ]:
# nunique(series + Dataframe) -> does not count nan -> dropna parameter
ipl['Season'].nunique()

15

In [ ]:
students.dropna(how = 'all')

     name   iq marks package
0   harsh  100    78      22
1   heman   89    69      34
2     Nan  NaN   NaN     NaN
3  kartik   99    50      12
4   mohit   79    57     NaN
5   sumit   86    97      25
6     NaN  NaN    68     NaN
7   rohit   93   NaN      27
8     NaN  NaN   NaN     NaN

In [ ]:
students.dropna(subset=['name'])

     name   iq marks package
0   harsh  100    78      22
1   heman   89    69      34
2     Nan  NaN   NaN     NaN
3  kartik   99    50      12
4   mohit   79    57     NaN
5   sumit   86    97      25
6     NaN  NaN    68     NaN
7   rohit   93   NaN      27
8     NaN  NaN   NaN     NaN

In [ ]:
movie.isnull().sum()

title               0
imdb_id             0
poster_path         0
wiki_link           0
title_y             0
original_title      0
is_adult            0
year_of_release     0
runtime             0
genres              0
imdb_rating         0
imdb_votes          0
story               0
summary             0
tagline             0
actors              0
wins_nominations    0
release_date        0
dtype: int64

In [ ]:
movie.fillna(movie[''].mean())

KeyError: ''

In [ ]:
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [ ]:
# find the last match played by virat kholi in Delhi
ipl['all_players'] = ipl['Team1Players'] + ipl['Team2Players']
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,all_players
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ..."
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ..."
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ..."

In [ ]:
def did_kholi_play(player_list):
    return 'V Kohli' in player_list

In [ ]:
ipl['did_kholi_play'] = ipl['all_players'].apply(did_kholi_play)
ipl[(ipl['City'] == 'Delhi') & ipl['did_kholi_play'] == True].drop_duplicates(subset = ['City','did_kholi_play'],keep='first')

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,all_players,did_kholi_play
208,1178421,Delhi,2019-04-28,2019,46,Delhi Capitals,Royal Challengers Bangalore,Arun Jaitley Stadium,Delhi Capitals,bat,...,Runs,16.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['PA Patel', 'V Kohli', 'AB de Villiers', 'S D...",BNJ Oxenford,KN Ananthapadmanabhan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",True

# Group By

In [ ]:
# Always applied on catogoical Data

In [ ]:
# In these type of question first we groupby which we want a group , after that
# we decide that on which columns we have to separte then we o aggregate operation

In [ ]:
movies = pd.read_csv("/content/Top_10000_Movies_IMDb.csv")
deliveries = pd.read_csv("/content/deliveries.csv")

In [ ]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [ ]:
movies.head(1)

,ID,Movie Name,Rating,Runtime,Genre,Metascore,Plot,Directors,Stars,Votes,Gross,Link
0,1,The Shawshank Redemption,9.3,142 min,Drama,82.0,"Over the course of several years, two convicts...","['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",2752419,28341469,https://www.imdb.com/title/tt0111161/

In [ ]:
genres = movies.groupby('Genre')
genres

In [ ]:
# Applying builtin aggregration functions on group by objects
genres.sum()

,ID,Movie Name,Rating,Runtime,Metascore,Plot,Directors,Stars,Votes,Gross,Link
Genre,,,,,,,,,,,
Action,35829,BansheeAyanOng Bak 2VelayudhamThe Man with the...,38.7,50 min162 min98 min186 min95 min99 min,136.0,A thief gets out of prison after many years an...,"['Gemma Mc Carthy', 'Antony Starr', ""Jonathan ...","['Antony Starr', ""Jonathan O' Dwyer"", 'Sean Fl...",143776,15785199,https://www.imdb.com/title/tt3396910/https://w...
"Action, Adventure",50215,Indiana Jones and the Raiders of the Lost ArkI...,83.1,115 min127 min118 min126 min85 min106 min122 m...,514.0,"In 1936, archaeologist and adventurer Indiana ...","['Steven Spielberg', 'Harrison Ford', 'Karen A...","['Harrison Ford', 'Karen Allen', 'Paul Freeman...",3683226,1567565737,https://www.imdb.com/title/tt0082971/https://w...
"Action, Adventure, Biography",52246,"Thirteen LivesAguirre, the Wrath of GodInvictu...",90.7,147 min95 min134 min113 min121 min118 min122 m...,574.0,A rescue mission is assembled in Thailand wher...,"['Ron Howard', 'Viggo Mortensen', 'Colin Farre...","['Viggo Mortensen', 'Colin Farrell', 'Joel Edg...",1009294,231597507,https://www.imdb.com/title/tt12262116/https://...
"Action, Adventure, Comedy",1100493,Guardians of the Galaxy Vol. 3Bajrangi Bhaijaa...,1078.5,150 min163 min67 min162 min121 min130 min133 m...,7557.0,"Still reeling from the loss of Gamora, Peter Q...","['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji'...","['Chris Pratt', 'Chukwudi Iwuji', 'Bradley Coo...",21392636,10400679751,https://www.imdb.com/title/tt6791350/https://w...
"Action, Adventure, Crime",279619,KaithiEnd of WatchFast & Furious 6Shoot to Kil...,237.1,145 min109 min130 min110 min117 min129 min144 ...,1526.0,"Dilli, an ex-convict, endeavours to meet his d...","['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arju...","['Karthi', 'Narain', 'Arjun Das', 'George Mary...",3224274,1069630170,https://www.imdb.com/title/tt9900782/https://w...
...,...,...,...,...,...,...,...,...,...,...,...
"Sci-Fi, Thriller",53466,SecondsLimitlessSunshineBrainstormInfinity Cha...,58.1,106 min105 min107 min106 min103 min99 min94 mi...,426.0,An unhappy middle-aged banker agrees to a proc...,"['John Frankenheimer', 'Rock Hudson', 'Frank C...","['Rock Hudson', 'Frank Campanella', 'John Rand...",1033286,121410919,https://www.imdb.com/title/tt0060955/https://w...
Thriller,145517,Wait Until DarkFrenzyNightwatchRed EyeSubwayTh...,129.0,108 min116 min107 min85 min104 min119 min107 m...,957.0,A recently blinded woman is terrorized by a tr...,"['Terence Young', 'Audrey Hepburn', 'Alan Arki...","['Audrey Hepburn', 'Alan Arkin', 'Richard Cren...",723265,169087528,https://www.imdb.com/title/tt0062467/https://w...
"Thriller, War",3598,Saboteur,7.1,109 min,64.0,A young man accused of sabotage goes on the ru...,"['Alfred Hitchcock', 'Priscilla Lane', 'Robert...","['Priscilla Lane', 'Robert Cummings', 'Otto Kr...",26858,26858,https://www.imdb.com/title/tt0035279/
"War, Western",5094,Rio Lobo,6.7,114 min,55.0,"After the Civil War, Cord McNally searches for...","['Howard Hawks', 'John Wayne', 'Jorge Rivero',...","['John Wayne', 'Jorge Rivero', ""Jennifer O'Nei...",13078,9265000,https://www.imdb.com/title/tt0066301/
Western,17259,Once Upon a Time in the WestThe Outlaw Josey W...,52.2,165 min135 min85 min105 min122 min164 min88 min,425.0,A mysterious stranger with a harmonica joins f...,"['Sergio Leone', 'Henry Fonda', 'Charles Brons...","['Henry Fonda', 'Charles Bronson', 'Claudia Ca...",503951,97039726,https://www.imdb.com/title/tt0064116/https://w...

In [ ]:
# find the top 3 genre by total earning
movies.groupby('Genre').sum()['Gross'].sort_values(ascending = False).head(3)

Genre
Animation, Adventure, Comedy    22883141727
Action, Adventure, Sci-Fi       21423387290
Action, Adventure, Fantasy      13060412139
Name: Gross, dtype: int64

In [ ]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending = False).head(3)

Genre
Animation, Adventure, Comedy    22883141727
Action, Adventure, Sci-Fi       21423387290
Action, Adventure, Fantasy      13060412139
Name: Gross, dtype: int64

In [ ]:
#fin the genre with highest avg IMDB rating
movies.groupby('Genre')['Rating'].mean().sort_values(ascending = False).head(3)

Genre
Comedy, Family, Mystery    8.8
Crime, Sci-Fi              8.3
Drama, Fantasy, War        8.2
Name: Rating, dtype: float64

In [ ]:
# find the director with most popularity
movies.groupby('Genre')['Votes'].sum().sort_values(ascending = False).head(3)

Genre
Action, Adventure, Sci-Fi       48550437
Animation, Adventure, Comedy    33404323
Drama                           32023436
Name: Votes, dtype: int64

In [ ]:
# find total number of groups -> len
len(movies.groupby('Genre'))

428

In [ ]:
# find item in each group -> size
movies.groupby('Genre').size()

Genre
Action                            6
Action, Adventure                12
Action, Adventure, Biography     13
Action, Adventure, Comedy       172
Action, Adventure, Crime         39
                               ...
Sci-Fi, Thriller                  9
Thriller                         21
Thriller, War                     1
War, Western                      1
Western                           7
Length: 428, dtype: int64

In [ ]:
movies['Genre'].value_counts()

Genre
Comedy, Drama, Romance       480
Drama                        433
Comedy, Drama                408
Drama, Romance               336
Action, Crime, Drama         325
                            ...
Action, Thriller, Western      1
Action, Drama, Music           1
Comedy, Fantasy, Thriller      1
Adventure, Crime               1
Family, Sci-Fi                 1
Name: count, Length: 428, dtype: int64

In [ ]:
# first()/last()  --> nth item
genre = movies.groupby('Genre')
genre.first()
genre.last()
genre.nth(6)

,ID,Movie Name,Rating,Runtime,Genre,Metascore,Plot,Directors,Stars,Votes,Gross,Link
47,48,Peranbu,8.7,147 min,Drama,NaN,"A single father tries to raise his daughter, w...","['Ram', 'Mammootty', 'Sadhana', 'Anjali', 'Anj...","['Mammootty', 'Sadhana', 'Anjali', 'Anjali Ame...",15361,15361,https://www.imdb.com/title/tt7738784/
75,76,American History X,8.5,119 min,"Crime, Drama",62.0,"Living a life marked by violence, neo-Nazi Der...","['Tony Kaye', 'Edward Norton', 'Edward Furlong...","['Edward Norton', 'Edward Furlong', ""Beverly D...",1145090,6719864,https://www.imdb.com/title/tt0120586/
143,144,Philanthropy,8.4,110 min,"Comedy, Drama",NaN,"Ovidiu, a high-school teacher looking for an e...","['Nae Caranfil', 'Mircea Diaconu', 'Gheorghe D...","['Mircea Diaconu', 'Gheorghe Dinica', 'Mara Ni...",13488,13488,https://www.imdb.com/title/tt0314067/
193,194,Raatchasan,8.3,170 min,"Action, Crime, Drama",NaN,A sub-inspector sets out in pursuit of a myste...,"['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', '...","['Vishnu Vishal', 'Amala Paul', 'Radha Ravi', ...",47092,47092,https://www.imdb.com/title/tt7060344/
205,206,Chhichhore,8.3,143 min,"Comedy, Drama, Romance",NaN,"A tragic incident forces Anirudh, a middle-age...","['Nitesh Tiwari', 'Sushant Singh Rajput', 'Shr...","['Sushant Singh Rajput', 'Shraddha Kapoor', 'V...",57998,898575,https://www.imdb.com/title/tt9052870/
...,...,...,...,...,...,...,...,...,...,...,...,...
9172,9173,The Thinning,5.4,81 min,"Action, Drama, Horror",NaN,"In a future, overcrowded, dystopian society, s...","['Michael J. Gallagher', 'Logan Paul', 'Peyton...","['Logan Paul', 'Peyton List', 'Lia Marie Johns...",10182,10182,https://www.imdb.com/title/tt5254868/
9436,9437,Teaching Mrs. Tingle,5.3,96 min,"Comedy, Thriller",35.0,The story of a girl who is willing to do anyth...,"['Kevin Williamson', 'Helen Mirren', 'Marisa C...","['Helen Mirren', 'Marisa Coughlan', 'Katie Hol...",21231,8946237,https://www.imdb.com/title/tt0133046/
9675,9676,Universal Soldier: Day of Reckoning,5.1,114 min,"Action, Horror, Mystery",58.0,John looks to take down Luc Deveraux after a h...,"['John Hyams', 'Jean-Claude Van Damme', 'Dolph...","['Jean-Claude Van Damme', 'Dolph Lundgren', 'S...",20919,5460,https://www.imdb.com/title/tt1659343/
9689,9690,Rebound,5.1,86 min,"Comedy, Family, Sport",36.0,An acclaimed college basketball coach is demot...,"['Steve Carr', 'Martin Lawrence', 'Megan Mulla...","['Martin Lawrence', 'Megan Mullally', 'Breckin...",13373,16808336,https://www.imdb.com/title/tt0376108/
9886,9887,Double Team,4.8,93 min,"Action, Comedy, Sci-Fi",44.0,An international spy teams up with an arms dea...,"['Hark Tsui', 'Jean-Claude Van Damme', 'Dennis...","['Jean-Claude Van Damme', 'Dennis Rodman', 'Mi...",35574,11438337,https://www.imdb.com/title/tt0119013/

In [ ]:
# get_group --> vs filtering
genre.get_group('Horror')

,ID,Movie Name,Rating,Runtime,Genre,Metascore,Plot,Directors,Stars,Votes,Gross,Link
341,342,The Exorcist,8.1,122 min,Horror,81.0,When a teenage girl is possessed by a mysterio...,"['William Friedkin', 'Ellen Burstyn', 'Max von...","['Ellen Burstyn', 'Max von Sydow', 'Linda Blai...",422312,232906145,https://www.imdb.com/title/tt0070047/
1000,1001,The Innocents,7.8,100 min,Horror,88.0,A young governess for two children becomes con...,"['Jack Clayton', 'Deborah Kerr', 'Peter Wyngar...","['Deborah Kerr', 'Peter Wyngarde', 'Megs Jenki...",31690,2616000,https://www.imdb.com/title/tt0055018/
1938,1939,The Phantom of the Opera,7.5,93 min,Horror,NaN,"A mad, disfigured composer seeks love with a l...","['Rupert Julian', 'Lon Chaney', 'Ernst Laemmle...","['Lon Chaney', 'Ernst Laemmle', 'Edward Sedgwi...",19213,3751476,https://www.imdb.com/title/tt0016220/
2054,2055,The Evil Dead,7.4,85 min,Horror,71.0,"Five friends travel to a cabin in the woods, w...","['Sam Raimi', 'Bruce Campbell', 'Ellen Sandwei...","['Bruce Campbell', 'Ellen Sandweiss', 'Richard...",222276,2400000,https://www.imdb.com/title/tt0083907/
2078,2079,A Nightmare on Elm Street,7.4,91 min,Horror,76.0,Teenager Nancy Thompson must uncover the dark ...,"['Wes Craven', 'Heather Langenkamp', 'Johnny D...","['Heather Langenkamp', 'Johnny Depp', 'Robert ...",248744,25504513,https://www.imdb.com/title/tt0087800/
...,...,...,...,...,...,...,...,...,...,...,...,...
9525,9526,The Strangers: Prey at Night,5.2,85 min,Horror,48.0,A family of four staying at a secluded mobile ...,"['Johannes Roberts', 'Christina Hendricks', 'M...","['Christina Hendricks', 'Martin Henderson', 'B...",32686,24431472,https://www.imdb.com/title/tt1285009/
9706,9707,Skinamarink,5.0,100 min,Horror,66.0,Two children wake up in the middle of the nigh...,"['Kyle Edward Ball', 'Lucas Paul', 'Dali Rose ...","['Lucas Paul', 'Dali Rose Tetreault', 'Ross Pa...",10163,10163,https://www.imdb.com/title/tt21307994/
9788,9789,Nekromantik,4.9,71 min,Horror,NaN,A street sweeper who cleans up after grisly ac...,"['Jörg Buttgereit', 'Bernd Daktari Lorenz', 'B...","['Bernd Daktari Lorenz', 'Beatrice Manowski', ...",10300,10300,https://www.imdb.com/title/tt0093608/
9809,9810,Graveyard Shift,4.9,86 min,Horror,28.0,In a very old textile mill with a serious rat ...,"['Ralph S. Singleton', 'David Andrews', 'Kelly...","['David Andrews', 'Kelly Wolf', 'Stephen Macht...",11992,11582891,https://www.imdb.com/title/tt0099697/
9870,9871,Halloween II,4.8,105 min,Horror,35.0,Laurie Strode struggles to come to terms with ...,"['Rob Zombie', 'Scout Taylor-Compton', 'Tyler ...","['Scout Taylor-Compton', 'Tyler Mane', 'Malcol...",57387,33392973,https://www.imdb.com/title/tt1311067/

In [ ]:
genre.groups

{'Action': [85, 1684, 7284, 7707, 9238, 9825], 'Action, Adventure': [107, 231, 1689, 1692, 2739, 3480, 3634, 4369, 6568, 6952, 9157, 9585], 'Action, Adventure, Biography': [923, 978, 2576, 2803, 3282, 3508, 4204, 4994, 5027, 5108, 5430, 6504, 6896], 'Action, Adventure, Comedy': [228, 412, 420, 457, 497, 692, 707, 854, 1100, 1379, 1392, 1740, 2064, 2392, 2405, 2429, 2589, 2829, 2844, 2885, 2891, 2967, 3022, 3094, 3113, 3268, 3418, 3518, 3601, 3697, 3739, 3753, 3862, 3943, 4023, 4128, 4146, 4175, 4186, 4326, 4360, 4479, 4525, 4529, 4554, 4650, 4724, 4850, 4888, 4896, 4902, 4906, 4985, 5052, 5120, 5125, 5131, 5158, 5361, 5389, 5405, 5448, 5516, 5574, 5694, 5725, 5766, 5775, 5788, 5859, 5883, 5994, 6158, 6198, 6250, 6320, 6363, 6525, 6571, 6729, 6913, 6918, 6931, 6937, 6951, 6984, 6993, 7022, 7045, 7052, 7060, 7073, 7076, 7184, 7280, 7349, 7362, 7408, 7440, 7522, ...], 'Action, Adventure, Crime': [134, 1449, 3706, 4787, 4909, 4927, 5320, 5367, 5730, 5825, 6204, 6378, 7008, 7035, 7049, 7161, 7213, 7275, 7703, 7713, 7732, 7771, 7869, 8011, 8048, 8344, 8388, 8390, 8514, 8729, 9011, 9080, 9170, 9335, 9386, 9450, 9640, 9882, 9937], 'Action, Adventure, Drama': [10, 18, 21, 72, 108, 187, 418, 496, 518, 717, 732, 737, 881, 925, 951, 1139, 1141, 1153, 1207, 1440, 1463, 1487, 1598, 1721, 1722, 1824, 1864, 1880, 1946, 1963, 1995, 2113, 2188, 2325, 2504, 2609, 2675, 2683, 2841, 2877, 2912, 2981, 2994, 3051, 3148, 3274, 3349, 3371, 3435, 3702, 3816, 4033, 4108, 4161, 4234, 4247, 4272, 4304, 4365, 4368, 4487, 4539, 4558, 4587, 4710, 4749, 4844, 4859, 4860, 4877, 4919, 4996, 5048, 5397, 5534, 5539, 5543, 5558, 5641, 5727, 5771, 5780, 5820, 5898, 5984, 6029, 6111, 6399, 6628, 6974, 7228, 7294, 7400, 7419, 7423, 7452, 7484, 7538, 7587, 7590, ...], 'Action, Adventure, Family': [1395, 1699, 1960, 2625, 3592, 4205, 5838, 5858, 6192, 7426, 7464, 8290, 8613, 8648, 9499, 9510, 9617, 9662], 'Action, Adventure, Fantasy': [38, 54, 168, 229, 331, 503, 652, 676, 1094, 1400, 1720, 2043, 2062, 2079, 2458, 3265, 3304, 3747, 3759, 3896, 4109, 4115, 4147, 4499, 4537, 4551, 4918, 5337, 5338, 5352, 5408, 5530, 5757, 5758, 5762, 5896, 6152, 6176, 6213, 6254, 6566, 6570, 6580, 6631, 6874, 6997, 6999, 7360, 7363, 7410, 7438, 7552, 7717, 7725, 7729, 7730, 7981, 7983, 7988, 7991, 8006, 8248, 8250, 8262, 8292, 8408, 8513, 8519, 8525, 8535, 8536, 8559, 8720, 8768, 8784, 8785, 8851, 9007, 9032, 9035, 9041, 9156, 9158, 9218, 9222, 9336, 9414, 9463, 9484, 9488, 9491, 9496, 9610, 9613], 'Action, Adventure, History': [1325, 1634, 3936, 5436, 9229], 'Action, Adventure, Horror': [884, 3559, 3725, 3736, 4165, 5407, 6163, 6758, 7258, 7418, 7462, 7510, 8517, 8787, 9000, 9330, 9483, 9782, 9846, 9906, 9939, 9988], 'Action, Adventure, Mystery': [176, 1433, 2147, 4168, 5342, 5365, 5506, 5904, 6804, 7047, 7514, 8105, 8573, 9368, 9574, 9854], 'Action, Adventure, Romance': [722, 1544, 4151, 6212, 7069, 8092, 8963, 9228, 9967], 'Action, Adventure, Sci-Fi': [16, 111, 117, 200, 230, 328, 683, 684, 689, 697, 880, 887, 905, 926, 1177, 1183, 1381, 1429, 1701, 1706, 2048, 2049, 2050, 2059, 2081, 2418, 2421, 2426, 2431, 2434, 2830, 2938, 2982, 3239, 3275, 3286, 3327, 3695, 3722, 3734, 3751, 3761, 4114, 4122, 4124, 4133, 4142, 4149, 4497, 4498, 4505, 4552, 4597, 4875, 4886, 4903, 4930, 4951, 5032, 5156, 5312, 5321, 5324, 5346, 5353, 5358, 5362, 5379, 5392, 5412, 5509, 5764, 5773, 5789, 5791, 5819, 6157, 6167, 6182, 6190, 6281, 6335, 6542, 6551, 6561, 6565, 6584, 6589, 6643, 6648, 6954, 6960, 6969, 6988, 7021, 7064, 7065, 7086, 7376, 7395, ...], 'Action, Adventure, Thriller': [500, 895, 1103, 1152, 1188, 1461, 1750, 2046, 2060, 2071, 2409, 2447, 2541, 2896, 2911, 3267, 3781, 3808, 4143, 4232, 4510, 4614, 4882, 4893, 4940, 4976, 4990, 5014, 5319, 5418, 5420, 5748, 5754, 5767, 5817, 5842, 5850, 5851, 5871, 5897, 5946, 6069, 6149, 6180, 6232, 6236, 6572, 6653, 7353, 7369, 7379, 7415, 7436, 7473, 7761, 7776, 8017, 8094, 8216, 8249, 8303, 8310, 8561, 8821, 8946, 9001, 9074, 9171, 9489], 'Action, Adventure, War': [1165, 1462, 3570, 6061], 'Action, Adventure, Western': [6252], 'Action, Biography, Crime': [316, 650, 908, 1191, 1489, 1917, 2302, 2697, 2735, 3764, 4712, 4740, 5085, 7844, 8079], 'Action, Biography, Drama': [191, 198, 334, 362, 463, 493, 542, 930, 1447, 1545, 1713, 1845, 1904, 2020, 2452, 2917, 2979, 2990, 3043, 3484, 3619, 3824, 3835, 3904, 3916, 4087, 4090, 4201, 4323, 4531, 4798, 4845, 5050, 5188, 6024, 6382, 6555, 7706, 8775, 9147], 'Action, Biography, Thriller': [6369], 'Action, Comedy': [504, 1893, 2184, 2233, 2720, 2749, 2783, 2958, 3237, 3641, 3718, 4978, 5157, 5478, 5602, 5781, 6530, 6673, 6724, 6916, 7101, 7307, 7505, 7536, 7562, 7916, 8066, 8116, 8143, 8230, 8769, 8839, 9067, 9210, 9401, 9439, 9722, 9828], 'Action, Comedy, Adventure': [3661], 'Action, Comedy, Crime': [273, 322, 352, 447, 856, 1283, 1373, 1389, 1563, 1639, 1745, 1838, 1924, 1939, 1941, 1947, 1987, 2381, 2420, 2466, 2530, 2743, 2782, 2823, 2846, 2962, 3279, 3366, 3548, 3579, 3602, 3608, 3647, 3701, 3756, 3770, 3782, 3790, 3801, 3826, 3883, 3884, 3918, 3996, 4012, 4021, 4083, 4138, 4184, 4188, 4223, 4274, 4356, 4370, 4420, 4464, 4504, 4816, 4839, 4878, 4943, 5047, 5145, 5166, 5262, 5368, 5390, 5415, 5429, 5447, 5489, 5548, 5629, 5765, 5809, 5841, 5862, 6053, 6087, 6177, 6183, 6262, 6270, 6332, 6396, 6475, 6511, 6556, 6588, 6595, 6627, 6656, 6753, 6766, 6813, 6831, 6832, 6855, 6860, 6958, ...], 'Action, Comedy, Drama': [605, 848, 1031, 1058, 1321, 1358, 1775, 2353, 2396, 2750, 2774, 3197, 4004, 4047, 4073, 4653, 4868, 5179, 5454, 6220, 6872, 7641, 7977, 7986, 8080, 8777, 8972, 9104, 9203, 9207, 9476, 9670, 9761, 9928, 9933, 9978, 9981], 'Action, Comedy, Family': [6591, 9213, 9225, 9338], 'Action, Comedy, Fantasy': [870, 1182, 1700, 2605, 4312, 4553, 4799, 5424, 7393, 7456, 8293, 8523, 8753, 9179, 9284, 9303, 9394, 9549, 9680, 9841], 'Action, Comedy, Horror': [1420, 3325, 4284, 4486, 4941, 6312, 6553, 6610, 6797, 7078, 7092, 7272, 7579, 8163, 8215, 8218, 8300, 8492, 8551, 8687, 8990, 9189, 9282, 9677, 9775], 'Action, Comedy, Musical': [6554], 'Action, Comedy, Mystery': [876], 'Action, Comedy, Romance': [294, 640, 1663, 6681, 6765, 7952, 8979, 9026, 9190, 9234, 9383, 9465, 9842, 9920], 'Action, Comedy, Sci-Fi': [2427, 4159, 7105, 9191, 9341, 9781, 9886, 9984], 'Action, Comedy, Sport': [6350, 6989], 'Action, Comedy, Thriller': [466, 2406, 2415, 5536, 6558, 6576, 7906, 8671, 8916, 9117, 9478, 9856], 'Action, Comedy, War': [3271, 8307, 8396], 'Action, Crime': [5541, 6904, 7017, 8846, 9333], 'Action, Crime, Comedy': [1039], 'Action, Crime, Drama': [6, 70, 101, 141, 142, 153, 193, 194, 201, 218, 225, 242, 243, 279, 292, 325, 427, 464, 472, 575, 591, 628, 630, 654, 665, 666, 836, 855, 912, 976, 992, 1013, 1038, 1081, 1085, 1092, 1093, 1112, 1122, 1130, 1147, 1210, 1218, 1248, 1263, 1338, 1360, 1368, 1386, 1396, 1426, 1450, 1561, 1578, 1590, 1659, 1673, 1676, 1725, 1729, 1901, 1902, 1945, 1990, 1999, 2002, 2035, 2039, 2053, 2084, 2093, 2162, 2284, 2288, 2293, 2297, 2308, 2363, 2365, 2390, 2398, 2453, 2482, 2491, 2501, 2522, 2554, 2558, 2575, 2599, 2722, 2723, 2755, 2808, 2819, 2820, 2883, 2949, 2993, 3019, ...], 'Action, Crime, Fantasy': [3285, 4538, 6535, 7890, 9833, 9940], 'Action, Crime, History': [3688], 'Action, Crime, Horror': [916, 2838, 6311, 7534, 7595, 7724, 7804, 7840, 8694, 9163, 9800], 'Action, Crime, Mystery': [823, 1412, 2040, 3018, 3121, 3129, 6738, 7041, 7122, 8139, 8220, 8401, 8669, 9090, 9287, 9564], 'Action, Crime, Romance': [6714, 8233], 'Action, Crime, Sci-Fi': [1399, 2445, 3272, 3353, 3534, 5545, 5711, 6998, 7768, 8053, 8142, 8175, 8287, 8357, 8772, 9005, 9262], 'Action, Crime, Thriller': [23, 146, 192, 315, 544, 672, 675, 730, 825, 903, 1179, 1213, 1253, 1363, 1369, 1441, 1442, 1515, 1711, 1828, 2042, 2044, 2051, 2052, 2158, 2413, 2600, 2629, 2648, 2773, 2798, 2835, 2842, 2847, 2916, 2919, 2921, 2996, 3177, 3194, 3259, 3263, 3322, 3419, 3427, 3633, 3652, 3720, 3836, 4008, 4052, 4127, 4187, 4202, 4254, 4327, 4385, 4390, 4417, 4483, 4528, 4662, 4686, 4753, 4765, 4923, 4937, 5055, 5100, 5102, 5270, 5317, 5371, 5422, 5433, 5508, 5515, 5546, 5611, 5735, 5749, 5760, 5772, 5818, 5821, 5834, 5861, 5910, 5976, 6008, 6010, 6083, 6084, 6112, 6153, 6278, 6301, 6366, 6458, 6485, ...], 'Action, Drama': [40, 58, 137, 152, 288, 298, 495, 581, 655, 827, 862, 863, 865, 898, 1385, 1949, 2004, 2038, 3244, 3247, 3642, 4048, 4107, 4430, 4451, 4802, 5234, 5311, 5495, 5738, 6704, 6992, 7903, 7908, 8742, 8969, 9369, 9776], 'Action, Drama, Comedy': [5646], 'Action, Drama, Crime': [7700], 'Action, Drama, Family': [2439, 6981, 9365], 'Action, Drama, Fantasy': [26, 1344, 4794, 4856, 4872, 5141, 6531, 6936, 7009, 7026, 7286, 7731, 8159, 8520, 8584, 8755, 9907, 9941], 'Action, Drama, History': [296, 763, 843, 845, 871, 1106, 1118, 1488, 1505, 1678, 1744, 1829, 1976, 2072, 2355, 2393, 2459, 2621, 2857, 3048, 3071, 3178, 3201, 3246, 3364, 3372, 3390, 3590, 3663, 3675, 3744, 4110, 4119, 4253, 4580, 4791, 4914, 5026, 5061, 5697, 5699, 5812, 6041, 6139, 6266, 6723, 6789, 6852, 6971, 7226, 7240, 7339, 7346, 7560, 8010, 8115, 8124, 8468, 8488, 9266, 9404], 'Action, Drama, Horror': [2892, 4657, 6224, 6623, 6680, 7096, 9172, 9500, 9559, 9717], 'Action, Drama, Music': [6619], 'Action, Drama, Musical': [320, 7708], 'Action, Drama, Mystery': [60, 61, 113, 498, 1398, 1743, 1962, 2678, 4101, 5058, 5518, 8241, 9256, 9363], 'Action, Drama, Romance': [494, 657, 1078, 1326, 1642, 2144, 2367, 2692, 3060, 3195, 3359, 3653, 3664, 3937, 3962, 3988, 3989, 3991, 4480, 4667, 4683, 5664, 5964, 7968, 8431, 8624, 8661, 8878], 'Action, Drama, Sci-Fi': [255, 330, 348, 696, 1445, 2068, 2096, 2485, 3298, 3306, 3352, 3789, 4781, 5386, 5723, 6365, 6963, 7011, 7526, 7741, 7827, 7895, 7918, 8302, 8418, 8805, 8869, 9010], 'Action, Drama, Sport': [97, 367, 1402, 1682, 2935, 3290, 3337, 5305, 5877, 6113, 6138, 6391, 6939, 7185, 7424, 8096, 8280, 9698, 9993], 'Action, Drama, Thriller': [115, 274, 483, 484, 613, 668, 1090, 1285, 1341, 1637, 1665, 2017, 2034, 2465, 2547, 2832, 3255, 3704, 3809, 3832, 4273, 4333, 4469, 4630, 4675, 5075, 5112, 5323, 5359, 5444, 5456, 5486, 5499, 5522, 5572, 5655, 5848, 6005, 6189, 6228, 6289, 6375, 6608, 6630, 6763, 6833, 6839, 6861, 6972, 7051, 7085, 7093, 7291, 7324, 7620, 7649, 7721, 7985, 8273, 8283, 8295, 8332, 8438, 8547, 8587, 8652, 8658, 8845, 8924, 9002, 9020, 9168, 9301, 9667, 9740, 9845], 'Action, Drama, War': [235, 265, 302, 634, 858, 1391, 1587, 1751, 2698, 3519, 4049, 4086, 4317, 4714, 5088, 5210, 5254, 5349, 5673, 6302, 6708, 6912, 7499, 7680, 7789, 8683, 8744, 8931, 8959], 'Action, Drama, Western': [716, 1566, 2914, 3005, 3623, 4541, 4752, 5396, 5902, 6393, 8192], 'Action, Family, Sport': [7460], 'Action, Fantasy': [3719], 'Action, Fantasy, Horror': [2323, 3740, 5097, 5810, 5918, 6491, 6507, 6536, 6756, 7223, 7421, 7829, 7954, 8008, 8238, 8589, 9129, 9223, 9332, 9382, 9516, 9789], 'Action, Fantasy, Sci-Fi': [9634], 'Action, Fantasy, Thriller': [3750, 5021, 5947, 6645, 9337], 'Action, History, Thriller': [3629], 'Action, Horror': [2441, 7656, 8217, 8548, 9208], 'Action, Horror, Mystery': [4955, 7383, 7583, 7599, 9334, 9498, 9675, 9754], 'Action, Horror, Romance': [8016], 'Action, Horror, Sci-Fi': [2873, 3312, 3746, 4970, 5344, 5442, 6194, 6263, 6294, 6667, 7003, 7098, 7432, 7609, 7770, 7805, 7856, 7998, 8252, 8279, 8286, 8325, 8331, 8450, 8722, 8727, 8751, 9016, 9360, 9416, 9425, 9482, 9487, 9521, 9728, 9795], 'Action, Horror, Thriller': [1409, 1770, 4647, 5776, 6671, 7477, 9023, 9731], 'Action, Horror, War': [9709], 'Action, Musical, Romance': [4442], 'Action, Mystery, Romance': [9136], 'Action, Mystery, Sci-Fi': [3321, 3377, 3737, 4507, 5923, 6721, 6995, 7488, 8025], 'Action, Mystery, Thriller': [540, 700, 1161, 3024, 3717, 4235, 4679, 4939, 4977, 5024, 5458, 5474, 6694, 8767, 9152, 9631], 'Action, Romance': [9605], 'Action, Romance, Thriller': [2261, 5868], 'Action, Sci-Fi': [36, 51, 329, 507, 885, 1135, 2889, 4156, 4933, 4966, 5797, 6594, 6794, 6821, 7483, 7575, 7958, 7974, 8071, 8505, 8764, 9253, 9955], 'Action, Sci-Fi, Sport': [5487], 'Action, Sci-Fi, Thriller': [706, 1730, 2092, 2412, 3637, 3893, 4261, 4544, 4849, 4883, 4913, 5339, 6144, 6172, 6219, 6234, 6581, 6637, 6685, 6686, 6840, 7109, 7461, 7697, 7857, 7984, 8056, 8059, 8394, 8566, 8598, 8629, 8980, 9175, 9322, 9461, 9655, 9719, 9919], 'Action, Sport, Thriller': [6259], 'Action, Thriller': [251, 462, 664, 852, 1088, 1157, 2025, 2440, 2499, 3224, 3330, 3400, 3507, 3724, 3800, 4337, 4523, 4546, 4876, 4885, 4898, 4924, 4926, 4931, 4936, 5175, 5306, 5354, 5364, 5366, 5402, 5463, 5751, 5784, 5793, 5807, 5811, 6166, 6169, 6173, 6329, 6364, 6500, 6599, 6730, 6735, 6752, 6906, 6996, 7032, 7070, 7178, 7375, 7381, 7433, 7664, 7696, 7756, 7759, 7774, 7865, 7877, 7934, 8009, 8031, 8045, 8085, 8481, 8501, 8747, 8783, 8852, 8879, 8912, 8966, 9088, 9096, 9099, 9120, 9251, 9280, 9312, 9520, 9524, 9534, 9557, 9603, 9606, 9671, 9749, 9763, 9772, 9784, 9796, 9824], 'Action, Thriller, War': [1034, 1685, 2033, 7615, 8285, 9030], 'Action, Thriller, Western': [6575], 'Action, War': [4106, 4766, 5513, 5661], 'Action, Western': [7614, 7691, 8176], 'Adventure, Biography, Comedy': [2633, 6720], 'Adventure, Biography, Crime': [1969, 2932], 'Adventure, Biography, Drama': [174, 295, 349, 720, 741, 921, 1011, 1257, 1582, 2328, 2616, 3324, 3402, 3411, 3421, 3599, 4282, 5439, 6330, 6333, 8380, 8651], 'Adventure, Biography, War': [2584], 'Adventure, Comedy': [33, 2366, 2449, 2582, 3362, 3723, 3794, 3998, 4911, 5991, 6043, 6351, 6537, 6726, 7059, 7283, 7380, 8291, 8298, 9086, 9265, 9550], 'Adventure, Comedy, Action': [3639], 'Adventure, Comedy, Crime': [217, 227, 332, 1154, 2425, 2876, 3183, 3540, 4025, 4045, 4185, 4367, 4432, 4564, 5514, 5955, 6078, 6244, 6273, 6394, 7090, 7164, 8204, 8541, 8791, 9305], 'Adventure, Comedy, Drama': [24, 41, 64, 66, 221, 324, 432, 440, 688, 802, 941, 1406, 1543, 1662, 1718, 1832, 2157, 2215, 2222, 2242, 2463, 2481, 2483, 2785, 2905, 2976, 2989, 3430, 3733, 3890, 3910, 3923, 3983, 4039, 4169, 4244, 4264, 4380, 4392, 4435, 4455, 4767, 4835, 4962, 5104, 5167, 5328, 5560, 5924, 5970, 6063, 6109, 6459, 6529, 6743, 6828, 7079, 7149, 7511, 7765, 7766, 7896, 8004, 8383, 8817, 8960, 9054, 9075, 9118, 9573, 9609, 9645, 9991], 'Adventure, Comedy, Family': [501, 935, 1020, 1098, 1516, 2493, 3389, 3454, 3738, 3807, 3829, 3968, 4111, 4231, 4489, 4540, 4622, 4881, 4952, 4989, 5133, 5956, 6179, 6199, 6296, 6683, 6869, 7040, 7072, 7111, 7301, 7371, 7733, 7757, 7772, 7794, 7838, 7936, 8061, 8075, 8138, 8333, 8610, 8620, 8788, 8830, 9031, 9034, 9048, 9165, 9255, 9344, 9407, 9431, 9456, 9485, 9508, 9546, 9571, 9632, 9676, 9793, 9799, 9803, 9865, 9895, 9945], 'Adventure, Comedy, Fantasy': [259, 2391, 3264, 3351, 4213, 4629, 6658, 6768, 7241, 7266, 8259, 8713, 8863, 9126, 9151, 9811, 9905], 'Adventure, Comedy, Film-Noir': [969], 'Adventure, Comedy, History': [6387], 'Adventure, Comedy, Music': [4176, 4565, 4655, 8013], 'Adventure, Comedy, Musical': [3556, 3901, 4928], ...}

In [ ]:
genre.describe()

                                 ID                                    \
                              count         mean          std     min
Genre
Action                          6.0  5971.500000  4081.363338    86.0
Action, Adventure              12.0  4184.583333  3231.245199   108.0
Action, Adventure, Biography   13.0  4018.923077  1889.183839   924.0
Action, Adventure, Comedy     172.0  6398.215116  2635.109768   229.0
Action, Adventure, Crime       39.0  7169.717949  2182.467266   135.0
...                             ...          ...          ...     ...
Sci-Fi, Thriller                9.0  5940.666667  2926.823833  1525.0
Thriller                       21.0  6929.380952  2386.291044  1262.0
Thriller, War                   1.0  3598.000000          NaN  3598.0
War, Western                    1.0  5094.000000          NaN  5094.0
Western                         7.0  2465.571429  2226.490576    83.0

                                                               Rating  \
                                  25%     50%      75%     max  count
Genre
Action                        3085.00  7496.5  8856.25  9826.0    6.0
Action, Adventure             1692.25  3558.0  6665.00  9586.0   12.0
Action, Adventure, Biography  2804.00  4205.0  5109.00  6897.0   13.0
Action, Adventure, Comedy     4529.00  6989.5  8621.25  9950.0  172.0
Action, Adventure, Crime      6015.50  7714.0  8622.50  9938.0   39.0
...                               ...     ...      ...     ...    ...
Sci-Fi, Thriller              2889.00  7331.0  8137.00  8700.0    9.0
Thriller                      6101.00  7406.0  8959.00  9923.0   21.0
Thriller, War                 3598.00  3598.0  3598.00  3598.0    1.0
War, Western                  5094.00  5094.0  5094.00  5094.0    1.0
Western                       1102.00  1298.0  3589.00  6496.0    7.0

                                        ...      Votes             Gross  \
                                  mean  ...        75%        max  count
Genre                                   ...
Action                        6.450000  ...   27086.25    63551.0    6.0
Action, Adventure             6.925000  ...  476407.00   989947.0   12.0
Action, Adventure, Biography  6.976923  ...   83923.00   224440.0   13.0
Action, Adventure, Comedy     6.270349  ...  136685.50  1223124.0  172.0
Action, Adventure, Crime      6.079487  ...  122552.00   405292.0   39.0
...                                ...  ...        ...        ...    ...
Sci-Fi, Thriller              6.455556  ...   80574.00   590209.0    9.0
Thriller                      6.142857  ...   43916.00   128039.0   21.0
Thriller, War                 7.100000  ...   26858.00    26858.0    1.0
War, Western                  6.700000  ...   13078.00    13078.0    1.0
Western                       7.457143  ...   49467.50   337678.0    7.0

                                                                     \
                                      mean           std        min
Genre
Action                        2.630866e+06  6.370354e+06    11086.0
Action, Adventure             1.306305e+08  1.161911e+08    10873.0
Action, Adventure, Biography  1.781519e+07  2.225348e+07    10267.0
Action, Adventure, Comedy     6.046907e+07  8.480743e+07     1792.0
Action, Adventure, Crime      2.742641e+07  4.317453e+07    10410.0
...                                    ...           ...        ...
Sci-Fi, Thriller              1.349010e+07  2.517778e+07    11220.0
Thriller                      8.051787e+06  1.538865e+07    11912.0
Thriller, War                 2.685800e+04           NaN    26858.0
War, Western                  9.265000e+06           NaN  9265000.0
Western                       1.386282e+07  1.841352e+07    11919.0

                                                                      \
                                      25%          50%           75%
Genre
Action                           11415.00      13436.5  8.016575e+04
Action, Adventure             14385400.00  164259545.5  2.099188e+08
Action, Adventure, Biography     59968.00    1517410.0  3.144501e+07
Action, Adventure, Comedy       446839.25   28465529.5  7.894709e+07
Action, Adventure, Crime         49809.50   18472363.0  3.303803e+07
...                                   ...          ...           ...
Sci-Fi, Thriller                 33061.00    5728953.0  8.900000e+06
Thriller                         16458.00      44577.0  1.242383e+07
Thriller, War                    26858.00      26858.0  2.685800e+04
War, Western                   9265000.00    9265000.0  9.265000e+06
Western                          36483.00    5321508.0  2.256667e+07


                                      max
Genre
Action                         15634090.0
Action, Adventure             317101119.0
Action, Adventure, Biography   67286731.0
Action, Adventure, Comedy     404515480.0
Action, Adventure, Crime      238679850.0
...                                   ...
Sci-Fi, Thriller               79249455.0
Thriller                       57891803.0
Thriller, War                     26858.0
War, Western                    9265000.0
Western                        46500000.0

[428 rows x 40 columns]

In [ ]:
# aggr methods
genre.agg(['min','max','sum'])

                                ID                            Movie Name  \
                               min   max      sum                    min
Genre
Action                          86  9826    35829                   Ayan
Action, Adventure              108  9586    50215                 Batman
Action, Adventure, Biography   924  6897    52246                 Adrift
Action, Adventure, Comedy      229  9950  1100493       Agent Cody Banks
Action, Adventure, Crime       135  9938   279619  A Lonely Place to Die
...                            ...   ...      ...                    ...
Sci-Fi, Thriller              1525  8700    53466             Brainstorm
Thriller                      1262  9923   145517      A Fall from Grace
Thriller, War                 3598  3598     3598               Saboteur
War, Western                  5094  5094     5094               Rio Lobo
Western                         83  6496    17259   How the West Was Won

                                                       \
                                                  max
Genre
Action                                     Velayudham
Action, Adventure                   War of the Arrows
Action, Adventure, Biography               Wyatt Earp
Action, Adventure, Comedy                 Zoolander 2
Action, Adventure, Crime                   The Shadow
...                                               ...
Sci-Fi, Thriller                         The Invasion
Thriller                              Wait Until Dark
Thriller, War                                Saboteur
War, Western                                 Rio Lobo
Western                       The Sons of Katie Elder

                                                                                 \
                                                                            sum
Genre
Action                        BansheeAyanOng Bak 2VelayudhamThe Man with the...
Action, Adventure             Indiana Jones and the Raiders of the Lost ArkI...
Action, Adventure, Biography  Thirteen LivesAguirre, the Wrath of GodInvictu...
Action, Adventure, Comedy     Guardians of the Galaxy Vol. 3Bajrangi Bhaijaa...
Action, Adventure, Crime      KaithiEnd of WatchFast & Furious 6Shoot to Kil...
...                                                                         ...
Sci-Fi, Thriller              SecondsLimitlessSunshineBrainstormInfinity Cha...
Thriller                      Wait Until DarkFrenzyNightwatchRed EyeSubwayTh...
Thriller, War                                                          Saboteur
War, Western                                                           Rio Lobo
Western                       Once Upon a Time in the WestThe Outlaw Josey W...

                             Rating               Runtime  ...  \
                                min  max     sum      min  ...
Genre                                                      ...
Action                          4.9  8.5    38.7  162 min  ...
Action, Adventure               5.2  8.4    83.1  106 min  ...
Action, Adventure, Biography    6.3  7.8    90.7  106 min  ...
Action, Adventure, Comedy       4.7  8.2  1078.5  100 min  ...
Action, Adventure, Crime        4.7  8.4   237.1  102 min  ...
...                             ...  ...     ...      ...  ...
Sci-Fi, Thriller                5.7  7.6    58.1  103 min  ...
Thriller                        4.7  7.7   129.0  102 min  ...
Thriller, War                   7.1  7.1     7.1  109 min  ...
War, Western                    6.7  6.7     6.7  114 min  ...
Western                         6.4  8.5    52.2  105 min  ...

                                                                          Stars  \
                                                                            sum
Genre
Action                        ['Antony Starr', "Jonathan O' Dwyer", 'Sean Fl...
Action, Adventure             ['Harrison Ford', 'Karen Allen', 'Paul Freeman...
Action, Adventure, Biography  ['Viggo Mortensen', 'Colin Farrell', 'Joel Edg...
Action, Adventure, Comedy     ['Chris Pratt', 'Chukwudi Iwuji', 'Bradley Coo...
Action, Adventure, Crime      ['Karthi', 'Narain', 'Arjun Das', 'George Mary...
...                                                                         ...
Sci-Fi, Thriller              ['Rock Hudson', 'Frank Campanella', 'John Rand...
Thriller                      ['Audrey Hepburn', 'Alan Arkin', 'Richard Cren...
Thriller, War                 ['Priscilla Lane', 'Robert Cummings', 'Otto Kr...
War, Western                  ['John Wayne', 'Jorge Rivero', "Jennifer O'Nei...
Western                       ['Henry Fonda', 'Charles Bronson', 'Claudia Ca...

                              Votes                       Gross             \
                                min      max       sum      min        max
Genre
Action                        11086    63551    143776    11086   15634090
Action, Adventure             10873   989947   3683226    10873  317101119
Action, Adventure, Biography  10267   224440   1009294    10267   67286731
Action, Adventure, Comedy     10207  1223124  21392636     1792  404515480
Action, Adventure, Crime      10410   405292   3224274    10410  238679850
...                             ...      ...       ...      ...        ...
Sci-Fi, Thriller              11220   590209   1033286    11220   79249455
Thriller                      10323   128039    723265    11912   57891803
Thriller, War                 26858    26858     26858    26858      26858
War, Western                  13078    13078     13078  9265000    9265000
Western                       11919   337678    503951    11919   46500000

                                           \
                                      sum
Genre
Action                           15785199
Action, Adventure              1567565737
Action, Adventure, Biography    231597507
Action, Adventure, Comedy     10400679751
Action, Adventure, Crime       1069630170
...                                   ...
Sci-Fi, Thriller                121410919
Thriller                        169087528
Thriller, War                       26858
War, Western                      9265000
Western                          97039726

                                                               Link  \
                                                                min
Genre
Action                        https://www.imdb.com/title/tt0785035/
Action, Adventure             https://www.imdb.com/title/tt0072281/
Action, Adventure, Biography  https://www.imdb.com/title/tt0068182/
Action, Adventure, Comedy     https://www.imdb.com/title/tt0017925/
Action, Adventure, Crime      https://www.imdb.com/title/tt0086859/
...                                                             ...
Sci-Fi, Thriller              https://www.imdb.com/title/tt0060955/
Thriller                      https://www.imdb.com/title/tt0062467/
Thriller, War                 https://www.imdb.com/title/tt0035279/
War, Western                  https://www.imdb.com/title/tt0066301/
Western                       https://www.imdb.com/title/tt0042531/

                                                                     \
                                                                max
Genre
Action                        https://www.imdb.com/title/tt3396910/
Action, Adventure             https://www.imdb.com/title/tt2025526/
Action, Adventure, Biography  https://www.imdb.com/title/tt6306064/
Action, Adventure, Comedy     https://www.imdb.com/title/tt8179388/
Action, Adventure, Crime      https://www.imdb.com/title/tt9900782/
...                                                             ...
Sci-Fi, Thriller              https://www.imdb.com/title/tt4357394/
Thriller                      https://www.imdb.com/title/tt8829830/
Thriller, War                 https://www.imdb.com/title/tt0035279/
War, Western                  https://www.imdb.com/title/tt0066301/
Western                       https://www.imdb.com/title/tt0075029/


                                                                            sum
Genre
Action                        https://www.imdb.com/title/tt3396910/https://w...
Action, Adventure             https://www.imdb.com/title/tt0082971/https://w...
Action, Adventure, Biography  https://www.imdb.com/title/tt12262116/https://...
Action, Adventure, Comedy     https://www.imdb.com/title/tt6791350/https://w...
Action, Adventure, Crime      https://www.imdb.com/title/tt9900782/https://w...
...                                                                         ...
Sci-Fi, Thriller              https://www.imdb.com/title/tt0060955/https://w...
Thriller                      https://www.imdb.com/title/tt0062467/https://w...
Thriller, War                             https://www.imdb.com/title/tt0035279/
War, Western                              https://www.imdb.com/title/tt0066301/
Western                       https://www.imdb.com/title/tt0064116/https://w...

[428 rows x 33 columns]

In [ ]:
# loop on groups
for groups,data in genre:
    print(data)

                                          Series_Title Released_Year  Runtime  \
2                                      The Dark Knight          2008      152
5        The Lord of the Rings: The Return of the King          2003      201
8                                            Inception          2010      148
10   The Lord of the Rings: The Fellowship of the Ring          2001      178
13               The Lord of the Rings: The Two Towers          2002      179
..                                                 ...           ...      ...
968                                       Falling Down          1993      113
979                                      Lethal Weapon          1987      109
982                                          Mad Max 2          1981       96
983                                       The Warriors          1979       92
985                               Escape from Alcatraz          1979      112

      Genre  IMDB_Rating           Director              Star1  No_of_Votes  \
2    Action          9.0  Christopher Nolan     Christian Bale      2303232
5    Action          8.9      Peter Jackson        Elijah Wood      1642758
8    Action          8.8  Christopher Nolan  Leonardo DiCaprio      2067042
10   Action          8.8      Peter Jackson        Elijah Wood      1661481
13   Action          8.7      Peter Jackson        Elijah Wood      1485555
..      ...          ...                ...                ...          ...
968  Action          7.6    Joel Schumacher    Michael Douglas       171640
979  Action          7.6     Richard Donner         Mel Gibson       236894
982  Action          7.6      George Miller         Mel Gibson       166588
983  Action          7.6        Walter Hill       Michael Beck        93878
985  Action          7.6         Don Siegel     Clint Eastwood       121731

           Gross  Metascore
2    534858444.0       84.0
5    377845905.0       94.0
8    292576195.0       74.0
10   315544750.0       92.0
13   342551365.0       87.0
..           ...        ...
968   40903593.0       56.0
979   65207127.0       68.0
982   12465371.0       77.0
983   22490039.0       65.0
985   43000000.0       76.0

[172 rows x 10 columns]
                       Series_Title Released_Year  Runtime      Genre  \
21                     Interstellar          2014      169  Adventure
47               Back to the Future          1985      116  Adventure
93             Inglourious Basterds          2009      153  Adventure
110                        Das Boot          1981      149  Adventure
114           2001: A Space Odyssey          1968      149  Adventure
..                              ...           ...      ...        ...
957  Fear and Loathing in Las Vegas          1998      118  Adventure
964                        Dead Man          1995      121  Adventure
966                       Apollo 13            PG      140  Adventure
984                The Muppet Movie          1979       95  Adventure
991                  Kelly's Heroes          1970      144  Adventure

     IMDB_Rating           Director                Star1  No_of_Votes  \
21           8.6  Christopher Nolan  Matthew McConaughey      1512360
47           8.5    Robert Zemeckis       Michael J. Fox      1058081
93           8.3  Quentin Tarantino            Brad Pitt      1267869
110          8.3  Wolfgang Petersen      Jürgen Prochnow       231855
114          8.3    Stanley Kubrick          Keir Dullea       603517
..           ...                ...                  ...          ...
957          7.6      Terry Gilliam          Johnny Depp       259753
964          7.6       Jim Jarmusch          Johnny Depp        90442
966          7.6         Ron Howard            Tom Hanks       269197
984          7.6      James Frawley           Jim Henson        32802
991          7.6    Brian G. Hutton       Clint Eastwood        45338

           Gross  Metascore
21   188020017.0       74.0
47   210609762.0       87.0
93   120540719.0       69.0
110   11487676.0       86.0
114   56954992.0       84.0
..           ...        ...
957   10680275.0       41.0
964    1037847.0       62.0
966  173837933.0       77.0
984   76657000.0       74.0
991    1378435.0       50.0

[72 rows x 10 columns]
                          Series_Title Released_Year  Runtime      Genre  \
23       Sen to Chihiro no kamikakushi          2001      125  Animation
43                       The Lion King          1994       88  Animation
46                      Hotaru no haka          1988       89  Animation
56                      Kimi no na wa.          2016      106  Animation
58   Spider-Man: Into the Spider-Verse          2018      117  Animation
..                                 ...           ...      ...        ...
956                              Mulan          1998       88  Animation
971                  Omohide poro poro          1991      118  Animation
976                 The Little Mermaid          1989       83  Animation
986                     Watership Down          1978       91  Animation
992                    The Jungle Book          1967       78  Animation

     IMDB_Rating             Director             Star1  No_of_Votes  \
23           8.6       Hayao Miyazaki     Daveigh Chase       651376
43           8.5         Roger Allers       Rob Minkoff       942045
46           8.5        Isao Takahata   Tsutomu Tatsumi       235231
56           8.4       Makoto Shinkai  Ryûnosuke Kamiki       194838
58           8.4      Bob Persichetti      Peter Ramsey       375110
..           ...                  ...               ...          ...
956          7.6        Tony Bancroft        Barry Cook       256906
971          7.6        Isao Takahata         Miki Imai        27071
976          7.6         Ron Clements       John Musker       237696
986          7.6         Martin Rosen       John Hubley        33656
992          7.6  Wolfgang Reitherman       Phil Harris       166409

           Gross  Metascore
23    10055859.0       96.0
43   422783777.0       88.0
46   150734678.0       94.0
56     5017246.0       79.0
58   190241310.0       87.0
..           ...        ...
956  120620254.0       71.0
971     453243.0       90.0
976  111543479.0       88.0
986  232841485.0       64.0
992  141843612.0       65.0

[82 rows x 10 columns]
          Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
7     Schindler's List          1993      195  Biography          8.9
15          Goodfellas          1990      146  Biography          8.7
18            Hamilton          2020      160  Biography          8.6
35    The Intouchables          2011      112  Biography          8.5
38         The Pianist          2002      150  Biography          8.5
..                 ...           ...      ...        ...          ...
923     La Vie En Rose          2007      140  Biography          7.6
940  Finding Neverland          2004      106  Biography          7.6
949               Blow          2001      124  Biography          7.6
952      The Hurricane          1999      146  Biography          7.6
987   Midnight Express          1978      121  Biography          7.6

             Director               Star1  No_of_Votes        Gross  Metascore
7    Steven Spielberg         Liam Neeson      1213505   96898818.0       94.0
15    Martin Scorsese      Robert De Niro      1020727   46836394.0       90.0
18        Thomas Kail  Lin-Manuel Miranda        55291  440984783.0       90.0
35    Olivier Nakache       Éric Toledano       760360   13182281.0       57.0
38     Roman Polanski        Adrien Brody       729603   32572577.0       85.0
..                ...                 ...          ...          ...        ...
923     Olivier Dahan    Marion Cotillard        82781   10301706.0       66.0
940      Marc Forster         Johnny Depp       198677   51680613.0       67.0
949         Ted Demme         Johnny Depp       240714   52990775.0       52.0
952    Norman Jewison   Denzel Washington        91557   50668906.0       74.0
987       Alan Parker          Brad Davis        73662   35000000.0       59.0

[88 rows x 10 columns]
                                       Series_Title Released_Year  Runtime  \
19                                     Gisaengchung          2019      132
26                                  La vita è bella          1997      116
51                                     Modern Times          1936       87
52                                      City Lights          1931       87
64                                         3 Idiots          2009      170
..                                              ...           ...      ...
977  The Naked Gun: From the Files of Police Squad!          1988       85
978                    Planes, Trains & Automobiles          1987       93
989                                The Long Goodbye          1973      112
994                              A Hard Day's Night          1964       87
995                          Breakfast at Tiffany's          1961      115

      Genre  IMDB_Rating         Director            Star1  No_of_Votes  \
19   Comedy          8.6     Bong Joon Ho     Kang-ho Song       552778
26   Comedy          8.6  Roberto Benigni  Roberto Benigni       623629
51   Comedy          8.5  Charles Chaplin  Charles Chaplin       217881
52   Comedy          8.5  Charles Chaplin  Charles Chaplin       167839
64   Comedy          8.4  Rajkumar Hirani       Aamir Khan       344445
..      ...          ...              ...              ...          ...
977  Comedy          7.6     David Zucker   Leslie Nielsen       152871
978  Comedy          7.6      John Hughes     Steve Martin       124773
989  Comedy          7.6    Robert Altman    Elliott Gould        26337
994  Comedy          7.6   Richard Lester      John Lennon        40351
995  Comedy          7.6    Blake Edwards   Audrey Hepburn       166544

           Gross  Metascore
19    53367844.0       96.0
26    57598247.0       59.0
51      163245.0       96.0
52       19181.0       99.0
64     6532908.0       67.0
..           ...        ...
977   78756177.0       76.0
978   49530280.0       72.0
989     959000.0       87.0
994   13780024.0       96.0
995  679874270.0       76.0

[155 rows x 10 columns]
                Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
1              The Godfather          1972      175  Crime          9.2
3     The Godfather: Part II          1974      202  Crime          9.0
4               12 Angry Men          1957       96  Crime          9.0
6               Pulp Fiction          1994      154  Crime          8.9
22            Cidade de Deus          2002      130  Crime          8.6
..                       ...           ...      ...    ...          ...
958              Funny Games          1997      108  Crime          7.6
960                 Sleepers          1996      147  Crime          7.6
974  The Godfather: Part III          1990      162  Crime          7.6
980             Blood Simple          1984       99  Crime          7.6
999             The 39 Steps          1935       86  Crime          7.6

                 Director           Star1  No_of_Votes        Gross  Metascore
1    Francis Ford Coppola   Marlon Brando      1620367  134966411.0      100.0
3    Francis Ford Coppola       Al Pacino      1129952   57300000.0       90.0
4            Sidney Lumet     Henry Fonda       689845    4360000.0       96.0
6       Quentin Tarantino   John Travolta      1826188  107928762.0       94.0
22     Fernando Meirelles      Kátia Lund       699256    7563397.0       79.0
..                    ...             ...          ...          ...        ...
958        Michael Haneke  Susanne Lothar        65058  217345863.0       69.0
960        Barry Levinson  Robert De Niro       186734   49100000.0       49.0
974  Francis Ford Coppola       Al Pacino       359809   66666062.0       60.0
980             Joel Coen      Ethan Coen        87745    2150000.0       82.0
999      Alfred Hitchcock    Robert Donat        51853  302787539.0       93.0

[107 rows x 10 columns]
                        Series_Title Released_Year  Runtime  Genre  \
0           The Shawshank Redemption          1994      142  Drama
9                         Fight Club          1999      139  Drama
11                      Forrest Gump          1994      142  Drama
17   One Flew Over the Cuckoo's Nest          1975      133  Drama
20                   Soorarai Pottru          2020      153  Drama
..                               ...           ...      ...    ...
990                     Giù la testa          1971      157  Drama
993                           Blowup          1966      111  Drama
996                            Giant          1956      201  Drama
997            From Here to Eternity          1953      118  Drama
998                         Lifeboat          1944       97  Drama

     IMDB_Rating                Director              Star1  No_of_Votes  \
0            9.3          Frank Darabont        Tim Robbins      2343110
9            8.8           David Fincher          Brad Pitt      1854740
11           8.8         Robert Zemeckis          Tom Hanks      1809221
17           8.7            Milos Forman     Jack Nicholson       918088
20           8.6           Sudha Kongara             Suriya        54995
..           ...                     ...                ...          ...
990          7.6            Sergio Leone        Rod Steiger        30144
993          7.6  Michelangelo Antonioni     David Hemmings        56513
996          7.6          George Stevens   Elizabeth Taylor        34075
997          7.6          Fred Zinnemann     Burt Lancaster        43374
998          7.6        Alfred Hitchcock  Tallulah Bankhead        26471

           Gross  Metascore
0     28341469.0       80.0
9     37030102.0       66.0
11   330252182.0       82.0
17   112000000.0       83.0
20   556832648.0        NaN
..           ...        ...
990     696690.0       77.0
993  632532802.0       82.0
996  195217415.0       84.0
997   30500000.0       85.0
998  852142728.0       78.0

[289 rows x 10 columns]
                            Series_Title Released_Year  Runtime   Genre  \
688           E.T. the Extra-Terrestrial          1982      115  Family
698  Willy Wonka & the Chocolate Factory          1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes        Gross  \
688          7.8  Steven Spielberg  Henry Thomas       372490  435110554.0
698          7.8        Mel Stuart   Gene Wilder       178731    4000000.0

     Metascore
688       91.0
698       67.0
                     Series_Title Released_Year  Runtime    Genre  \
321  Das Cabinet des Dr. Caligari          1920       76  Fantasy
568                     Nosferatu          1922       94  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes        Gross  \
321          8.1  Robert Wiene  Werner Krauss        57428  337574718.0
568          7.9   F.W. Murnau    Max Schreck        88794  445151978.0

     Metascore
321        NaN
568        NaN
           Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
309       The Third Man          1949      104  Film-Noir          8.1
456  The Maltese Falcon          1941      100  Film-Noir          8.0
712   Shadow of a Doubt          1943      108  Film-Noir          7.8

             Director            Star1  No_of_Votes        Gross  Metascore
309        Carol Reed     Orson Welles       158731     449191.0       97.0
456       John Huston  Humphrey Bogart       148928    2108060.0       96.0
712  Alfred Hitchcock    Teresa Wright        59556  123353292.0       94.0
                 Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
49                     Psycho          1960      109  Horror          8.5
75                      Alien          1979      117  Horror          8.4
271                 The Thing          1982      109  Horror          8.1
419              The Exorcist          1973      122  Horror          8.0
544  Night of the Living Dead          1968       96  Horror          7.9
707             The Innocents          1961      100  Horror          7.8
724                   Get Out          2017      104  Horror          7.7
844                 Halloween          1978       91  Horror          7.7
876         The Invisible Man          1933       71  Horror          7.7
932                       Saw          2004      103  Horror          7.6
948                The Others          2001      101  Horror          7.6

               Director             Star1  No_of_Votes        Gross  Metascore
49     Alfred Hitchcock   Anthony Perkins       604211   32000000.0       97.0
75         Ridley Scott  Sigourney Weaver       787806   78900000.0       89.0
271      John Carpenter      Kurt Russell       371271   13782838.0       57.0
419    William Friedkin     Ellen Burstyn       362393  232906145.0       81.0
544    George A. Romero       Duane Jones       116557      89029.0       89.0
707        Jack Clayton      Deborah Kerr        27007    2616000.0       88.0
724        Jordan Peele    Daniel Kaluuya       492851  176040665.0       85.0
844      John Carpenter  Donald Pleasence       233106   47000000.0       87.0
876         James Whale      Claude Rains        30683  298791505.0       87.0
932           James Wan        Cary Elwes       379020   56000369.0       46.0
948  Alejandro Amenábar     Nicole Kidman       337651   96522687.0       74.0
          Series_Title Released_Year  Runtime    Genre  IMDB_Rating  \
69             Memento          2000      113  Mystery          8.4
81         Rear Window          1954      112  Mystery          8.4
119            Vertigo          1958      128  Mystery          8.3
145     Shutter Island          2010      138  Mystery          8.2
220            Kahaani          2012      122  Mystery          8.1
393     Twelve Monkeys          1995      129  Mystery          8.0
420             Sleuth          1972      138  Mystery          8.0
714  The Lady Vanishes          1938       96  Mystery          7.8
829          Spoorloos          1988      107  Mystery          7.7
899          El cuerpo          2012      112  Mystery          7.6
959          Dark City          1998      100  Mystery          7.6
961       Lost Highway          1997      134  Mystery          7.6

                 Director                     Star1  No_of_Votes        Gross  \
69      Christopher Nolan                Guy Pearce      1125712   25544867.0
81       Alfred Hitchcock             James Stewart       444074   36764313.0
119      Alfred Hitchcock             James Stewart       364368    3200000.0
145       Martin Scorsese         Leonardo DiCaprio      1129894  128012934.0
220           Sujoy Ghosh               Vidya Balan        57806    1035953.0
393         Terry Gilliam              Bruce Willis       578443   57141459.0
420  Joseph L. Mankiewicz          Laurence Olivier        44748    4081254.0
714      Alfred Hitchcock         Margaret Lockwood        47400  474203697.0
829        George Sluizer  Bernard-Pierre Donnadieu        33982  367916835.0
899           Oriol Paulo             Jose Coronado        57549  140340673.0
959           Alex Proyas              Rufus Sewell       187927   14378331.0
961           David Lynch              Bill Pullman       131101    3796699.0

     Metascore
69        80.0
81       100.0
119      100.0
145       63.0
220        NaN
393       74.0
420        NaN
714       98.0
829        NaN
899        NaN
959       66.0
961       52.0
        Series_Title Released_Year  Runtime     Genre  IMDB_Rating  \
700  Wait Until Dark          1967      108  Thriller          7.8

          Director           Star1  No_of_Votes       Gross  Metascore
700  Terence Young  Audrey Hepburn        27733  17550741.0       81.0